.calva/mcp-server/port
*.class
*.iml
*.jar
/.calva/repl.calva-repl
/.clj-kondo/.cache/
/.cpcache/
/.idea/
/.lein-*
/.lsp/.cache/
/.nrepl-port
/.portal/vs-code.edn
/.prepl-port
/checkouts
/classes
/target
pom.xml
pom.xml.asc
profiles.clj
target/
