<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %highlight(%level) %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- See clj-watson.logging-config namespace for suppression of Apache Commons JCS noise -->

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
   </root>
</configuration>
