{{#dependencies}}
Dependency Information
-----------------------------------------------------
NAME: {{dependency-name}}
VERSION: {{mvn/version}}

DEPENDENCY FOUND IN:

{{#build-tree}}{{parents}}{{/build-tree}}

Vulnerabilities
-----------------------------------------------------
{{#vulnerabilities}}
CVE: {{name}}
CVSSV3: {{cvssv3}}
CVSSV2: {{cvssv2}}
SUGGESTED BUMP: {{version-end-including}} {{version-end-excluding}}

{{/vulnerabilities}}
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
{{/dependencies}}