{% for vulnerable-dependency in vulnerable-dependencies %}
Dependency Information
-----------------------------------------------------
NAME: {{vulnerable-dependency.dependency}}
VERSION: {{vulnerable-dependency.mvn/version}}

DEPENDENCY FOUND IN:
{{vulnerable-dependency.parents|build-tree}}
FIX SUGGESTION: {{vulnerable-dependency.remediate-suggestion|safe}}
Vulnerabilities
-----------------------------------------------------
{% for vulnerability in vulnerable-dependency.vulnerabilities %}
SEVERITY: {{vulnerability.advisory.severity}}
IDENTIFIERS: {% for identifier in vulnerability.advisory.identifiers %}{{identifier.value}} {% endfor %}
CVSS: {{vulnerability.advisory.cvss.score}}
PATCHED VERSION: {{vulnerability.firstPatchedVersion.identifier}}
{% endfor %}
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
{% endfor %}