{{#vulnerable-dependencies}}
Dependency Information
-----------------------------------------------------
NAME: {{dependency-name}}
VERSION: {{mvn/version}}

DEPENDENCY FOUND IN:
{{#parents}}{{#build-tree}}{{parents}}{{/build-tree}} {{/parents}}
{{^parents}}[{{dependency-name}}]{{/parents}}

FIX SUGGESTION: {{{fix-suggestion}}}

Vulnerabilities
-----------------------------------------------------
{{#vulnerabilities}}
CVE: {{name}}
CVSSV3: {{cvssv3}}
CVSSV2: {{cvssv2}}
SUGGESTED BUMP: {{version-end-including}} {{version-end-excluding}}

{{/vulnerabilities}}
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
{{/vulnerable-dependencies}}