{:deps {org.clojure/clojure         {:mvn/version "1.11.0-alpha1"}
        com.auth0/java-jwt          {:mvn/version "3.5.0"}
        image-resizer/image-resizer {:mvn/version "0.1.10"}
        org.postgresql/postgresql   {:mvn/version "42.2.10"}
        io.replikativ/datahike      {:mvn/version "0.4.1480"}}
 :aliases {:banana {:extra-deps {clj-http/clj-http {:mvn/version "3.9.1"}}}}}